/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.shell-header{
    background-color: rgb(204, 204, 204);
    font-family:cursive;
    height:60px;
  }
.sns-go-home{
      display: inline-block;
      width: 80%
    }
.sns-go-home:hover{
      cursor: pointer;
    }
.header-spacer {
        flex: 1 1 auto;
      }
 
  
